<div>
  {{ this.palavra.inteira }}
</div>
<div class="card-body">
  <section class="d-flex flex-row justify-content-between align-items-center">
    <div class="">
      <span>Chutes disponíveis: {{ this.chutes }}</span>
    </div>
    <div class="d-flex flex-wrap">
      <div><i class="fa-solid fa-skull-crossbones"></i> Erros</div>
    </div>
  </section>
  <div class="row">
    <div class="text-center">
      <table class="table">
        <tbody>
          <tr>
            <td *ngFor="let letra of palavra.separada">
              <span *ngIf="palavra.acertadas[palavra.inteira.indexOf(letra)]">
                {{ letra }}
              </span>
              <span *ngIf="!palavra.acertadas[palavra.inteira.indexOf(letra)]">
                <i class="fa-solid fa-xmark"></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="input-group mb-3">
    <input class="form-control" placeholder="Digite uma letra" required />
    <button (click)="confereLetra('a')">Clique aqui</button>
  </div>
</div>
