<div class="container">
  <div class="row">
    <section class="d-flex flex-row justify-content-between align-items-center">
      <div class="w-25 text-center">
        <div>
          <h4>
            <i class="fa-solid fa-up-long"></i> Tentativas
            <i class="fa-solid fa-down-long"></i>
          </h4>
        </div>
        <h3>{{ this.chutes }}</h3>
      </div>
      <div class="d-flex flex-column w-25 text-center">
        <div>
          <h4>
            <i class="fa-solid fa-skull-crossbones"></i> Chutes errados
            <i class="fa-solid fa-skull-crossbones"></i>
          </h4>
          <div>
            <h3 *ngIf="this.erros.length < 1">0</h3>
            <div class="row flex-wrap">
              <div *ngFor="let letra of this.erros" class="col">
                <h3>{{ letra }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="row">
    <div class="text-center">
      <table class="table">
        <tbody>
          <tr>
            <td *ngFor="let letra of palavra.separada">
              <span *ngIf="palavra.acertadas[palavra.inteira.indexOf(letra)]">
                <h3>{{ letra }}</h3>
              </span>
              <span *ngIf="!palavra.acertadas[palavra.inteira.indexOf(letra)]">
                <h3><i class="fa-solid fa-xmark"></i></h3>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <form class="input-group mb-3" #input="ngForm" (ngSubmit)="onSubmit(input)">
      <input
        type="text"
        name="tentativa"
        placeholder="Digite uma letra"
        class="form-control"
        minlength="1"
        maxlength="1"
        autofocus
        ngModel
      />
      <input
        type="button"
        value="Ok"
        class="btn btn-primary"
        (click)="onSubmit(input)"
      />
    </form>
  </div>
</div>
