<div class="card">
  <div class="card-header">
    <h3>{{ title }}</h3>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <h3>Esse é o Adivinhe!</h3>
        <h5>As regras são simples</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Se você acertar uma letra, ela será revelada nas posições certas
          </li>
          <li class="list-group-item">
            Se você errar, você perde uma tentativa
          </li>
          <li class="list-group-item">
            Se você acabar com o seu número de tentativas, você perde
            <i class="fa-regular fa-face-sad-tear"></i>
          </li>
          <li class="list-group-item">
            Porém, se você acertar a palavra, você ganha
            <i class="fa-regular fa-face-grin-beam"></i>
          </li>
          <li class="list-group-item">
            No modo fácil, você tem 3 tentativas por letra da palavra, no médio,
            apenas 2, já no Difícil, apenas uma.
          </li>
          <li class="list-group-item">
            <h6>Para começar um novo jogo, clique no botão abaixo</h6>
          </li>
        </ul>
        <a
          *ngIf="!newGame"
          class="btn btn-outline-primary text-decoration-none"
          (click)="newGame = true"
        >
          Novo jogo
        </a>
      </div>
      <div *ngIf="newGame">
        <div class="text-center">
          <a
            *ngFor="let nivel of niveis"
            (click)="setPalavra(nivel)"
            routerLinkActive="active"
            routerLink="/game"
            class="btn btn-outline-primary text-decoration-none mx-4"
            >{{ nivel }}</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
